# Windows 관련 파일 및 디렉토리 제외
*.lnk
*.tmp
*.log
*.DAT
*.ini
NTUSER.DAT*
AppData/
Application Data/
Cookies/
Local Settings/
My Documents/
NetHood/
PrintHood/
Recent/
SendTo/
Templates/
시작 메뉴/

# IDE 및 기타 불필요한 파일들 제외
.idea/
*.iml
/out/
/build/
/.vscode/

# 기타
.DS_Store
